@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --default-font: "Open Sans", sans-serif, "Helvetica Neue", Helvetica, Arial;
}

/* Apply border box to entire document */
* {
  box-sizing: border-box;
}

.generalInfoForm {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
  width: 75vw;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  background-color: rgb(194, 194, 194);
  border-radius: 12px 12px;
  padding: 22px;
  box-shadow: 0px 4px 4px rgba(149, 149, 149, 0.413);
  font-family: var(--default-font);
}

.generalInfoForm > div {
  display: flex;
  gap: 10px;
  width: 80%;
  background-color: #e1e1e1;
  /* outline: 1px solid black; */
  margin-right: 0;
  flex-direction: column;
  border-radius: 8px 8px;
  padding: 8px;
  text-align: center;
  min-width: 225px;
}

.generalInfoForm  label {
  align-self: flex-start;
}

.email,
.phoneNumber {
  display: flex;
  gap: 10px;
  width: 80%;
  /* outline: 1px solid black; */
  margin-right: 0;
  flex-direction: column;
  border-radius: 8px 8px;
  padding: 8px;
  text-align: center;
  min-width: 225px;
}

.fullName {
  display: flex;
  gap: 10px;
  width: 80%;
  /* outline: 1px solid black; */
  margin-right: 0;
  flex-direction: column;
  padding: 8px;
  text-align: center;
  border-radius: 8px 8px;
  /* background-color: #e1e1e1; */
  min-width: 225px;
}

.readViewGeneral .fullName {
  border-bottom: 2px solid black;
  border-radius: 0px;
  margin-bottom: 20px;
}

.readViewGeneral .phoneNumber,
.readViewGeneral .email {
  width: 100%;
}

.fullName input,
.email input,
.phoneNumber input {
  border: none;
  border-radius: 4px 4px;
  padding: 6px;
}

.submitBtn {
  width: 70px;
  border: none;
  padding: 8px;
  border-radius: 4px 4px;
  transition: background-color 0.2s ease-in-out;
  color: black;
  background-color: rgb(231, 231, 231);
}

.submitBtn:hover {
  background-color: white;
}

.readViewGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 17px 0px;
  border-radius: 8px 8px;
  padding: 0px 0px 18px 0px;
  background-color: rgb(226 226 226 / 20%);
  /* box-shadow: 0px 4px 4px rgba(149, 149, 149, 0.413); */
  font-family: var(--default-font);
  width: 75vw;
}

.readViewGeneral > button {
  width: 60px;
  border: none;
  padding: 8px;
  border-radius: 4px 4px;
  transition: background-color 0.2s ease-in-out;
  color: black;
  background-color: rgb(231, 231, 231);
  margin-top: 12px;
  align-self: flex-end;
  margin-right: 14px;
}

.readViewGeneral > button:hover {
  background-color: white;
}

.readViewObj {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  width: 80%;
  justify-items: center;
  margin-bottom: 12px;
}

.readViewContainer > .readViewObj > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/* Start of readview styles */

.readViewContainer {
}
